doctype html
html(lang="en")
  head
    script(src="https://unpkg.com/vue")
    script(src="//stylus-lang.com/try/stylus.min.js")
    script(src="https://unpkg.com/http-vue-loader") 
  body
    #my-app
      my-component
 

