article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog
  display block
  box-sizing: border-box

audio[controls],canvas,video
  display inline-block
  *display inline
  zoom 1

html
  height 100%
  font-size 100%
  overflow-y scroll
  -webkit-text-size-adjust 100%
  box-sizing: border-box

body
  margin 0
  min-height 100%
  -webkit-font-smoothing antialiased
  font-smoothing antialiased
  text-rendering optimizeLegibility
  background url('/images/24px_grid_bg.gif') 0 1.1875em
  width 92%
  margin 0 auto
  box-sizing: border-box

body, button, input, select, textarea
  font 100%/1.5 Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif
  /*font-size 1em/**/
  color #333

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img
  margin 0 0 1.5em
  padding 0

h1, h2, h3, h4, h5, h6
  font-family Futura, "Century Gothic", AppleGothic, sans-serif
  color #222
  text-shadow 1px 1px 1px rgba(0,0,0,.10)

h1
  margin 0
  font-size 3.75em
  line-height 1.2em
  margin-bottom 0.4em

h2
  margin 0
  font-size 3em
  line-height 1em
  margin-bottom 0.5em

h3
  margin 0
  font-size 2.25em
  line-height 1.3333333333333333333333333333333em
  margin-bottom 0.6667em

h4
  margin 0
  font-size 1.5em
  line-height 1em
  margin-bottom 1em

h5
  margin 0
  font-size 1.3125em
  line-height 1.1428571428571428571428571428571em
  margin-bottom 1.1428571428571428571428571428571em

h6
  margin 0
  font-size 1.125em
  line-height 1.3333333333333333333333333333333em
  margin-bottom 1.3333333333333333333333333333333em

p, ul, blockquote, pre, td, th, label
  margin 0
  font-size 1em
  line-height 1.5em
  margin-bottom 1.5em

small, p.small
  margin 0
  font-size 0.875em
  line-height 1.7142857142857142857142857142857em
  margin-bottom 1.7142857142857142857142857142857em

pre
  white-space pre
  white-space pre-wrap
  word-wrap break-word

pre, code, kbd, samp
  font-size 1em
  line-height 1.5em
  margin-bottom 1.5em
  font-family Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace

table
  border-collapse collapse
  border-spacing 0
  margin-bottom 1.5em

th
  text-align left

tr, th, td
  padding-right 1.5em
  border-bottom 0 solid #333

form
  margin 0

fieldset
  border 0
  padding 0

textarea
  overflow auto
  vertical-align top

legend
  *margin-left -.75em

button, input, select, textarea
  vertical-align baseline
  *vertical-align middle

button, input
  line-height normal
  *overflow visible

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor pointer
  -webkit-appearance button

input[type="checkbox"], input[type="radio"]
  box-sizing border-box

input[type="search"]
  -webkit-appearance textfield
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  box-sizing content-box

input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

button::-moz-focus-inner, input::-moz-focus-inner
  border 0
  padding 0

blockquote, q
  quotes none

blockquote:before, blockquote:after, q:before, q:after
  content ''
  content none

blockquote, q, cite
  font-style italic

blockquote
  padding-left 1.5em
  border-left 3px solid #ccc
  & > p
    padding 0

ul, ol
  list-style-position inside
  padding 0

li ul, li ol
  margin 0 1.5em

dl
  dd
    margin-left 1.5em

dt
  font-family Futura, "Century Gothic", AppleGothic, sans-serif

a
  text-decoration inherit
  color inherit
  &:hover
    text-decoration underline
  &:focus
    outline thin dotted

a:hover, a:active
  outline none

figure
  margin 0

img, object, embed, video
  max-width 100%
  _width 100%

img
  border 0
  -ms-interpolation-mode bicubic

svg
  &:not(:root)
    overflow hidden

abbr[title], dfn[title]
  border-bottom 1px dotted #333
  cursor help

ins, mark
  text-decoration none

mark
  background #c47529

ins
  background #d49855

del
  text-decoration line-through

::-moz-selection
  background #c47529
  color #fff
  text-shadow none

::selection
  background #c47529
  color #fff
  text-shadow none

strong, b, dt
  font-weight bold

dfn
  font-style italic

var, address
  font-style normal

sub, sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em

span
  &.amp
    font-family Adobe Caslon Pro,Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif
    font-style italic
    font-size 110%
    line-height 0
    position relative
    vertical-align baseline

.cf:before, .cf:after
  content ""
  display table

.cf
  zoom 1
  &:after
    clear both

.g1,.g2,.g3,.g4
  display block
  /*position relative/**/
  margin-left 1%
  margin-right 1%
  margin-top 1%
  margin-bottom 1%
  width 98.0%

@media only screen and (min-width: 320px)
  body

@media only screen and (min-width: 480px)
  body

@media only screen and (min-width: 600px)
  body

@media only screen and (min-width: 768px)
  .g1
    width 48.0%
  .g2
    width 48.0%
  .g4,.g3
    width 98.0%

@media only screen and (min-width: 768px)
   .g1,.g2,.g3,.g4
       display inline-block
       /*float left/**/

@media only screen and (min-width: 1024px)
  .g1
    width 23.0% /*31.333%/**/
  .g2
    width 48.0%
  .g3
    width 64.667%
  .g4
    width 98.0%

@media only screen and (min-width: 1280px)
  body

@media only screen and (min-width: 1400px)
  body
    font-size 116.75%
    background url('/images/28px_grid_bg.gif') 0 1.25em
    max-width 1440px

@media print
  *
    background transparent !important
    color black !important
    text-shadow none !important
    filter none !important
    -ms-filter none !important
  a[href]:after
    content " (" attr(href) ")"
  abbr[title]:after
    content " (" attr(title) ")"
  thead
    display table-header-group
  img
    max-width 100% !important

@media print
   a, a:visited
     color #444 !important
     text-decoration underline

@media print
   .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
      content ""

@media print
   pre, blockquote
      border 1px solid #999
      page-break-inside avoid

@media print
   tr, img
      page-break-inside avoid

@page
  margin 0.5cm

p, h2, h3
  orphans 3
  widows 3

h2, h3
  page-break-after avoid

